{% extends 'core/base.html' %}

{% block content %}
<div class="container" id="edit-bookmark">
    <h1 class="title">Edit bookmark</h1>

    <article class="message is-danger" v-if="errors.length">
        <div class="message-body">
            <p v-for="error in errors">
                [[ error ]]
            </p>
        </div>
    </article>
    
    <form method="post" action="." v-on:submit="submitForm" novalidate>
        {% csrf_token %}

        <div class="field">
            <label class="label">{{ form.title.label_tag }}</label>

            <div class="control">
                {{ form.title }}
            </div>
        </div>

        <div class="field">
            <label class="label">{{ form.url.label_tag }}</label>

            <div class="control">
                {{ form.url }}
            </div>
        </div>

        <div class="field">
            <label class="label">{{ form.description.label_tag }}</label>

            <div class="control">
                {{ form.description }}
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">Save changes</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        new Vue({
            el: '#edit-bookmark',
            delimiters: ['[[', ']]'],
            data () {
                return {
                    title: "{{ form.title.value }}",
                    url: "{{ form.url.value }}",
                    errors: []
                }
            },
            methods: {
                submitForm: function(e) {
                    this.errors = []

                    if (!this.title.length) {
                        this.errors.push('The title is missing')
                    }

                    if (!this.url.length) {
                        this.errors.push('The url is missing')
                    }

                    if (this.errors.length) {
                        e.preventDefault()

                        return false
                    }
                }
            }
        })
    </script>
{% endblock %}