{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h1 class="title">Plans</h1>
        </div>

        <div class="column is-4 is-offset-2">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Basic</p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>- 5 categories</li>
                            <li>- 50 bookmarks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Pro</p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>- 50 categories</li>
                            <li>- unlimited bookmarks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}